.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.jumbotron {
    padding: 2rem;
}

.section {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 15px;
    
}

body {
    line-height: 1;
}

.textArea {
    min-width: 100%;
    resize:none
}